<% if user_signed_in? %>
  <div class="flex justify-between items-center sticky px-2 md:px-16 lg:px-32 py-4 md:py-6 top-0 left-0 z-50 bg-black">
    <span class="flex justify-center items-center gap-3">
      <%= link_to "Logout", destroy_user_session_path, method: :get, :class => 'text-decoration-none text-white bg-midnight px-6 py-2 rounded'  %>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'text-decoration-none text-white btn border border-midnight bg-transparent px-3 py-2 rounded' %>
    </span>
    <ul class="flex justify-center items-center gap-6">
      <li>
        <span>
          <%= link_to "Articles", root_path, :class => 'text-decoration-none text-white hover:text-grayLight' %>
        </span>
      </li>
      <li>
        <span>
          <%= link_to "New Article", new_article_path, :class => 'text-decoration-none text-white hover:text-grayLight' %>
        </span>
      </li>
    </ul>
      <%= render "articles/search" %>
  </div>
<% end %>
