<!DOCTYPE html>
<html>
  <head>
    <title>HelpjuiceSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <% if user_signed_in? %>
  <body class="bg-#F1F1F6">
    <main class="container-fluid px-0">
      <%= render "layouts/navbar" %>
      <% if alert || notice %>
        <div class="text-white bg-transparent flex justify-start items-center">
          <span class="w-auto px-4 ml-2 md:ml-16 lg:ml-32 h-12 flex justify-center mt-2 rounded items-center bg-midnight">
            <%= notice %>
            <%= alert %>
          </span>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
  <% else %>
  <body class="bg-cover bg-fixed" background="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    <main class="container-fluid px-0">
      <%= render "layouts/navbar" %>
      <% if alert || notice %>
        <div class="text-midnight bg-transparent flex justify-center items-center">
          <span class="w-auto px-4 h-12 flex justify-center mt-2 rounded items-center bg-white">
            <%= notice %>
            <%= alert %>
          </span>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
  <% end %>
</html>
